  <header>
    <nav id="navbar-example2" class="navbar navbar-light bg-light fixed-top transparent" data-spy="affix" data-offset-top="400">
      <a class="navbar-brand" href="#">Wedding Day</a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#events">Events</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="first">
      <div class="container"> 
        <h1 class="text-center">Hello.</h1>
      </div>
    </section>
    <div class="container-fluid">
    <section>
      <div class="container"> 
        <h1>Here is some more content</h1>
      </div>
    </section>
    
    <section>
    
      <div class="container">
      
        <h1>Here is some more content</h1>
        
      </div>
    
    </section>
    
    <section>
    
      <div class="container">
      
        <h1>Here is some more content</h1>
        
      </div>
    
    </section>
  <section>
      <h4 id="home">Home</h4> 
      <div class="card">
          <div class="card-header">
            Quote
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
          </div>
        </div>     
      <h4 id="events">Events</h4>
      <div class="card bg-dark text-white">
          <img class="card-img" src="../assets/images/download.svg" alt="Card image">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>
      <h4 id="gallery">Gallery</h4>  
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../assets/images/download.svg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>            
  </section>
</div>
<router-outlet></router-outlet>