/* CSS used here will be applied after bootstrap.css */
html,body {
    height:100%;
      
  }
  
  .first {
    padding-top:50px;
    height:100vh;
    min-height:400px;
    background-size:cover;
    background-image:url('../assets/images/home.png');
  }
  
  .affix {
    -webkit-transition:padding 0.2s ease-out;
    -moz-transition:padding 0.2s ease-out;  
    -o-transition:padding 0.2s ease-out;         
    transition:padding 0.2s ease-out;
  
  }
  
  .affix-top {
    /* navbar style at top */
    background:transparent;
    border-color:transparent;
    padding: 15px;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease; 
    -o-transition:all 0.5s ease;         
    transition:all 0.5s ease;  
  }
  
  .affix-top .nav>li>a {
     color: #000;
  }
  
  .affix-top .navbar-collapse {
     border-color:transparent;
     box-shadow:initial;
  }
  
  section {
    height:calc(90% - 50px);
    height: 90vh;
  }
  
.count-down{
  display: block !important;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
  .number{
    background-color: #a1b769;
    font-size: 4vh;
    border-radius: 10px;
    color: white;
    padding: 2vh;
  }
  .time{
    color: #007bff;
    padding: 2vh;
    font-size: 25px;
  }
  
  .main-content{
    width:60vw;
    float:right;
  }
  .main-content h1,.main-content h3,.main-content h4{
    padding:2vh;
  }
  .main-content h1{
    font-weight: bold;
  }