/* CSS used here will be applied after bootstrap.css */
html,body {
    height:100%;
      
  }
  
  .first {
   background-color: white;
   margin-bottom: 30px;
   position: relative;
   padding-top:0 !important;
  }
  .first:after{
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(241, 0, 0, 0.48);
  }
  .first:before{
        position: absolute;
        width: 100%;
        z-index: 1;
        content: '';
        height: inherit;
        top: 75px;
        bottom: 0px;
  }
  
  section {
    height:calc(90% - 50px);
    padding-top: 3vh;
  }
  
.count-down{
  display: block !important;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
  .number{
    background-color: white;
    font-size: 2vw;
    border-radius: 10px;
    color: #dc3545;
    padding: 1vw;
    display: block;
  }
  .time{
    color: white;
    padding: 1vw;
    font-size: 1vw;
  }
  
  .main-content{
    width:60vw;
    float:right;
  }
  .main-content h1,.main-content h3,.main-content h4{
    padding:2vw;
  }
  .main-content h1{
    font-weight: bold;
  }
  .name{
    font-size: 5vw;
    padding:1vw;
  }
  .marry{
    font-size: 2vw;
    padding:1vw;
  }
  .date{
    font-size: 1vw;
  }
  .nav-item a{
    color:white;
  }
  .save-date{
    width:10vw;
  }
  .heading{
    padding:2vw;
    color:#f27362;
    font-family: 'great vibes';
  }
  .heading-bottom{
    color:#17a2b8;
    font-family: 'great vibes';
  }
  .img-footer{
    width: 5vw;
  }
  .jumbotron{
    font-family: 'dancing script';
  }
  .addBg{
      background-color: #dc4343 !important;
  }