<header>
  <nav class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#location">Location</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<section class="first">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/slide1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="row">
            <div class="col-lg-12">
              <div class="container">
                <h1 class="text-center name">Pradeep & Augusta</h1>
                <h3 class="text-center">We Are Getting Married</h3>
                <h4 class="text-center">On 17 May,2019</h4>
              </div>
              <div class="container">
                <countdown [config]="{leftTime: time}">
                  <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12"><span class="number">$!d!</span><span
                        class="time">Days</span>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12"><span class="number">$!h!</span><span
                        class="time">Hours</span>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12"><span class="number">$!m!</span><span
                        class="time">Minutes</span>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12"> <span class="number">$!s!</span><span
                        class="time">Seconds</span>
                    </div>
                  </div>
                </countdown>
                <div class="row">
                  <div class="col-12 text-center">
                    <button class="btn btn-success">SAVE THE DATE</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/slide2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="row">
            <div class="col-lg-12">
              <div class="container">
                <h1 class="text-center name">Pradeep & Augusta</h1>
                <h3 class="text-center">We Are Getting Married</h3>
                <h4 class="text-center">On 17 May,2019</h4>
              </div>
              <div class="container">
                <countdown [config]="{leftTime: time}">
                  <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12"><span class="number">$!d!</span><span
                        class="time">Days</span>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12"><span class="number">$!h!</span><span
                        class="time">Hours</span>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12"><span class="number">$!m!</span><span
                        class="time">Minutes</span>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12"> <span class="number">$!s!</span><span
                        class="time">Seconds</span>
                    </div>
                  </div>
                </countdown>
                <div class="row">
                  <div class="col-12 text-center">
                    <button class="btn btn-success">SAVE THE DATE</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1>Happy Couple</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua ut enim ad minim veniam</p>
      </div>
    </div>
  </div>
</section>

<section id="events">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12  text-center">
        <h1>Events</h1>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <i class="fa fa-heart fa-5x"></i>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <i class="fa fa-cloud fa-5x"></i>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <i class="fa fa-gift fa-5x"></i>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <i class="fa fa-bitbucket fa-5x"></i>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <i class="fa fa-music fa-5x"></i>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <i class="fa fa-coffee fa-5x"></i>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua ut enim ad minim veniam</p>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Bride</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

          </div>
          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Groom</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1>Location</h1>
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <div class="card">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-left"><i class="fa fa-map-marker fa-1x"></i><b>Venue :</b><span>
                      Iyyanoor,Tenkasi(T.K),Tirunelveli(D.T)-627808</span></li>
                  <li class="list-group-item text-left"><i class="fa fa-hourglass fa-1x"></i><b>Time :</b><span> 9:30 AM
                      to 10:30 AM</span></li>
                  <li class="list-group-item text-left"><i class="fa fa-calendar fa-1x"></i><b>Date :</b><span> 17
                      May,2019</span></li>
                  <li class="list-group-item text-left"><i class="fa fa-phone fa-1x"></i><b>Contact No:</b><span> +91
                      9952948348</span></li>
                  <li class="list-group-item text-left"><i class="fa fa-envelope-open fa-1x"></i><b>Email :</b><span>
                      rpradeep3696@gmail.com</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Scan Me</h6>
                <img src="assets/images/qrcode.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h2>Thank You</h2>         
        </div>
      </div>
    </div>
  </section>
<router-outlet></router-outlet>