/* You can add global styles to this file, and also import other style files */
body {
    position: relative; 
    font-family: 'Roboto', sans-serif;
    color:#666666 !important;
}
.name{
    font-family: 'Great Vibes', cursive;
}
.fa {
    color:#DC4343;
    padding-right:1vw;
}
.card{
    border:none !important; 
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.carousel-caption{
    bottom:0px !important;
    padding-top: 5vw !important;
    padding-bottom: 5vw !important;
}
.card-body{
    text-align: left;  

}
.header-img{
    width:10vw;
    padding-left:10px;
    padding-right: 10px;
}
.jumbotron{
    background-color: white !important;
    font-size: 2vw;
}
.nav-pills .nav-item .active{
    background-color: transparent !important;
    border-bottom: 2px solid white;
    border-radius: 0 !important;
}