/* You can add global styles to this file, and also import other style files */
body {
    position: relative; 
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Great Vibes', cursive;
}