/* You can add global styles to this file, and also import other style files */
body {
    position: relative; 
    font-family: 'Roboto', sans-serif;
    color:#666666 !important;
}
.name{
    font-family: 'Great Vibes', cursive;
}
.fa {
    color:#DC4343;
}
.card{
    border:none !important;
    padding:50px;
}